<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CONFIRMATION SUCCESSFUL</title>
</head>
<body>
  <h1>Confirmation Successful</h1>
  <p>Hello <%= email %>,</p>
  <p>Congratulations! Your account has been successfully confirmed.</p>
  <p>You can now log in to access StarCi.</p>
</body>
</html>