
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EXPIRATION CONFIRMATION</title>
</head>
<body>
    <h1>Expiration Confirmation</h1>
    <p>Hello <%= email %>,</p>
    <p>We apologize, but your confirmation has expired. Please log in to receive the confirmation email again.</p>
</body>
</html>